#### Distribution/Packaging/Environments
\.DS_Store
.idea/
.ipynb_checkpoints/*
notebooks/.ipynb_checkpoints/*
__pycache__
__pycache__/
*.pyc
msi/__pycache__/drug_to_protein.cpython-36.pyc
msi/__pycache__/indication_to_protein.cpython-36.pyc
msi/__pycache__/node_to_node.cpython-36.pyc
msi/__pycache__/protein_to_protein.cpython-36.pyc
venv/
virtualenv_config.sh
experiments/.ipynb_checkpoints/experiment1-checkpoint.ipynb

#### Testing
.single_run
.coverage*
coverage.xml
.notipy.json
/tests/archive/

#### Logs
logs/*.log
**/logs/*.log

#### Scripts
scratch*.py

#### Data and Directories
/resources/data/*
/results/*
/experiments/*.tsv
/*/*.zip
